// richiamo il file variables
@use './variables.scss' as *;

// creo una mixin generale per centrare gli elementi in flex
@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

//  creo una mixin per distanziare gli elementi con between
@mixin between() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// creo una mixin per mettere gli oggetti in display flex column
@mixin column() {
    display: flex;
    flex-direction: column;
}

@mixin button() {
    color: $secondColor;
    background-color: $thirdColor;
    width: fit-content;
    margin-top: 30px;
    padding: 15px 35px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}