// creo una mixin generale per centrare gli elementi in flex
@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

//  creo una mixin per distanziare gli elementi con between
@mixin between() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}